extends ./layout.jade

block content
    nav
      a home
    .quotes
      h1 #{quote.Name}
      h1 #{quote.Symbol}
      h2 Last Price: #{quote.LastPrice}
      h2 High: #{quote.High}
      h2 Low: #{quote.Low}
